combo>=0.0.8
joblib
numpy>=1.13
numba>=0.35
pandas>=0.25
pytorch-pretrained-bert
PyWavelets
scipy>=0.20
scikit_learn==0.22
transformers==3.3.1
torch
torchvision
tqdm
xgboost
xlrd >= 1.0.0
zipfile36
# torch  please install this by yourself
# xgboost  please install this by yourself