packaging==26.0
setuptools==82.0.1
wheel==0.46.3
pip==26.0.1
tblib==3.2.2
sympy==1.14.0
mpmath==1.3.0
typing_extensions==4.15.0
six==1.17.0
pillow==12.1.1
nvidia-nvjitlink-cu12==12.6.85
nvidia-curand-cu12==10.3.7.77
numpy==2.2.6
nvidia-cufft-cu12==11.3.0.4
nvidia-cuda-runtime-cu12==12.6.77
nvidia-cuda-nvrtc-cu12==12.6.77
nvidia-cuda-cupti-cu12==12.6.80
nvidia-cublas-cu12==12.6.4.1
narwhals==2.13.0
networkx==3.6.1
MarkupSafe==3.0.3
fsspec==2026.2.0
filelock==3.25.2
nvidia-cusparse-cu12==12.5.4.2
nvidia-cudnn-cu12==9.5.1.17
Jinja2==3.1.6
nvidia-cusolver-cu12==11.7.1.2
torch-einops-utils==0.0.30
sortedcontainers==2.4.0
pytz==2026.1.post1
nvidia-cusparselt-cu12==0.6.3
zict==3.0.0
xyzservices==2026.3.0
urllib3==2.5.0
urllib3==2.7.0
tzdata==2026.1
tzdata==2026.2
typing-inspection==0.4.2
safetensors==0.7.0
triton==3.3.1
tqdm==4.67.3
tornado==6.5.5
tornado==6.5.7
toolz==1.1.0
threadpoolctl==3.6.0
regex==2026.4.4
PyYAML==6.0.3
pyparsing==3.3.2
pydantic_core==2.33.2
pydantic_core==2.46.4
pyarrow==22.0.0
psutil==7.2.2
polars-runtime-32==1.35.2
platformdirs==4.9.6
platformdirs==4.10.0
obstore==0.9.2
nvidia-nvtx-cu12==12.6.77
nvidia-nccl-cu12==2.26.2
nvidia-cufile-cu12==1.11.1.6
msgpack==1.1.2
more-itertools==10.8.0
lz4==4.4.5
locket==1.0.0
littleutils==0.2.4
lightning-utilities==0.15.3
lazy-loader==0.5
kiwisolver==1.5.0
joblib==1.5.3
jmespath==1.1.0
idna==3.11
idna==3.18
hf-xet==1.4.3
fonttools==4.62.1
einops==0.8.2
decorator==5.2.1
decorator==5.3.1
cycler==0.12.1
cloudpickle==3.1.2
click==8.3.2
click==8.4.2
charset-normalizer==3.4.7
certifi==2026.2.25
certifi==2026.6.17
annotated-types==0.7.0
tifffile==2026.3.3
scipy==1.17.1
requests==2.33.1
requests==2.34.2
rdkit==2026.3.1
python-dateutil==2.9.0.post0
pydantic==2.11.10
pydantic==2.13.4
polars==1.35.2
partd==1.4.2
contourpy==1.3.3
scikit-learn==1.7.2
pooch==1.9.0
pandas==2.3.3
outdated==0.2.2
matplotlib==3.10.8
huggingface_hub==0.36.2
dask==2025.11.0
botocore==1.42.88
bokeh==3.9.0
torch==2.7.1
tokenizers==0.21.4
s3transfer==0.16.0
mne==1.10.2
distributed==2025.11.0
transformers==4.53.3
pyhealth==2.0.0
torchvision==0.22.1
ogb==1.3.6
linformer==0.2.3
boto3==1.42.88
axial_positional_embedding==0.3.12
accelerate==1.13.0
peft==0.18.1
litdata==0.2.61
hyper-connections==0.4.9
local-attention==1.11.2
CoLT5-attention==0.11.1
product_key_memory==0.3.0
linear-attention-transformer==0.19.1
nvidia-ml-py==13.590.48
nvitop==1.7.0
asttokens==3.0.1
attrs==26.1.0
babel==2.18.0
backports.zstd==1.6.0
Brotli==1.2.0
cached-property==1.5.2
comm==0.2.3
debugpy==1.8.21
defusedxml==0.7.1
executing==2.2.1
hpack==4.1.0
hyperframe==6.1.0
json5==0.15.0
jsonpointer==3.1.1
lark==1.3.1
nest-asyncio2==1.7.2
pandocfilters==1.5.0
parso==0.8.7
prometheus_client==0.25.0
ptyprocess==0.7.0
pure_eval==0.2.3
pycparser==3.0
Pygments==2.20.0
PySocks==1.7.1
fastjsonschema==2.21.2
rfc3986-validator==0.1.1
rpds-py==2026.5.1
Send2Trash==2.1.0
sniffio==1.3.1
soupsieve==2.8.4
tomli==2.4.1
traitlets==5.15.1
typing_utils==0.1.0
uri-template==1.3.0
wcwidth==0.8.1
webcolors==25.10.0
webencodings==0.5.1
websocket-client==1.9.0
zipp==4.1.0
async-lru==2.3.0
bleach==6.4.0
cffi==1.17.1
exceptiongroup==1.3.1
h11==0.16.0
h2==4.3.0
importlib_metadata==9.0.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
jupyter_core==5.9.1
jupyterlab_pygments==0.3.0
matplotlib-inline==0.2.2
mistune==3.3.2
overrides==7.7.0
pexpect==4.9.0
prompt_toolkit==3.0.52
python-json-logger==4.1.0
referencing==0.37.0
rfc3339_validator==0.1.4
rfc3987-syntax==1.1.0
stack_data==0.6.3
terminado==0.18.1
tinycss2==1.4.0
anyio==4.14.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
beautifulsoup4==4.15.0
fqdn==1.5.1
ipython==9.14.1
jsonschema-specifications==2025.9.1
jupyter_builder==1.0.2
jupyter_server_terminals==0.5.4
argon2-cffi==25.1.0
httpcore==1.0.9
isoduration==20.11.0
jsonschema==4.26.0
pyzmq==27.1.0
httpx==0.28.1
jupyter_client==8.9.1
nbformat==5.10.4
ipykernel==7.3.0
jupyter-events==0.12.1
nbclient==0.11.0
nbconvert==7.17.1
jupyter_server==2.20.0
jupyter-lsp==2.3.1
jupyterlab_server==2.28.0
notebook_shim==0.2.4
jupyterlab==4.6.0
notebook==7.6.0
protobuf==6.33.5
smmap==5.0.3
gitdb==4.0.12
GitPython==3.1.50
sentry-sdk==2.64.0
wandb==0.28.0
