<!doctype html>
<html>
  <head>
    <title>{{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
  </head>
  <body>
    <br><br>
    <div class="container">
      <h1>{{ title }}</h1>
      <hr>
        <form class="grid", action = "/create_job" method="POST">
            <h3 style="text-align:center">Create New Healthcare ML Jobs </h4> <br>
            &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;
            <label>Dataset:</label> 
            <select name="dataset" id="dataset">
                <option value="mimic_iii">MIMIC-III</option>
                <option value="eicu">eICU</option>
                <option value="mimic_iv">MIMIC-IV</option>
                <option value="iqvia">IQVIA</option>
              </select>
            &nbsp; &nbsp; &nbsp; &nbsp;
            <label>Task:</label>
            <select name="task" id="task">
                <option value="drug_rec">Drug Recomendation</option>
                <option value="hf_predict">Heart Failure Prediction</option>
                <option value="mortality">Mortality Prediction</option>
                <option value="readmission">Readmission Prediction</option>
              </select>
              &nbsp; &nbsp; &nbsp; &nbsp;
              <label>ML Model:</label>
              <select name="model" id="model">
                  <option value="safedrug">(SafeDrug) Molecule Structure Info. Enhanced Model</option>
                  <option value="gamenet">(GAMENet) Memory based Sequential Model</option>
                  <option value="micron">(MICRON) Drug Replacement Prediction Model</option>
                  <option value="retain">(RETAIN) General Healthcare Predictive Model</option>
                </select>
            &nbsp; &nbsp; &nbsp; &nbsp; <input type="Submit" class="file_submit">
        </form>
      <hr>
      <h3 style="text-align:center">Job History </h4> 
      {% block content %}{% endblock %}
    </div>
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>