Sphinx==5.2.3
sphinx-automodapi
sphinx-autodoc-annotation
sphinx_last_updated_by_git
sphinxcontrib-spelling
sphinx-autodoc-typehints
sphinx_gallery==0.11.1
sphinxcontrib-bibtex==2.5.0
nbsphinx==0.8.9
nbsphinx-link==1.3.0
sphinx-copybutton==0.5.0
furo
myst-parser==0.18.1
sphinx-remove-toctrees==0.0.3
sphinx-design==0.3.0
sphinxext-opengraph==0.6.3
sphinxcontrib-httpdomain==1.8.0
sphinx_copybutton
sphinx_toggleprompt
pandas-bokeh==0.5.5
bokeh==3.0.1
gspread==5.6.2
google-cloud-storage==2.6.0
oauth2client==4.1.3
Jinja2==3.1.3
flask==2.2.5